body{

margin:0;
font-family:Arial;
background-color:#2b0b0b;

display:flex;
justify-content:center;
align-items:center;

height:100vh;

}

.card{

background:linear-gradient(#ff4b4b,#8a1f1f);

padding:30px;
border-radius:20px;

width:350px;

color:white;

}

input{

width:100%;
padding:10px;
margin-bottom:10px;

border-radius:8px;
border:none;

}

button{

width:100%;
padding:12px;

border:none;

border-radius:10px;

background-color:#2b0b0b;

color:white;

}

.voltar{

display:block;
margin-top:10px;

text-align:center;

color:white;

text-decoration:none;

}